.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.input {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.weather-data {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 60px;
  font-weight: 600;
  

}

.temp {
  font-size: 30px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 50px;

}

.weather {
  font-size: 30px;
  font-weight: 300;
}

body {
  background-color: lightblue;
}

p {
  color: white;
  
}

h1 {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  text-shadow: 2px 2px 5px darkblue;
  /* justify-content: center;
  align-items: center; */

}

.footnote {
    display: flex;
    align-items: flex-end;
}
